<?xml version="1.0" encoding="UTF-8" ?>
				<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
				<mapper namespace="com.lhd.springboot_blog.mapper.CommentMapper">
				
					<!-- 查询最近的前n条评论, 用于主界面 -->
					<select id="listRecentComment" resultType="com.lhd.springboot_blog.entity.Comment">
						select * from comment order by comment_id DESC limit #{n}
					</select>
					<!-- 查询评论, 用于评论-->
					<select id="listComment" resultType="com.lhd.springboot_blog.entity.Comment">
						select * from comment order by comment_id DESC
					</select>
				</mapper>